@use "global" as *;

.blog {
  position: relative;

  @include mq() {
    padding-top: rem(100);
  }
}

.blog::before {
  @include mq(md) {
    content: "";
    position: absolute;
    background-image: url(../images/common/blog-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: rem(500);
    z-index: -100;
    top: 0;
  }
}

.blog__btn {
  text-align: center;
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(83);
  }
}

.blog__fish {
  max-width: rem(437);
  width: 100%;
}

.blog__fish .fish {

  @include mq(md) {
    position: absolute;
    top: rem(19);
    left: calc(50% - min(48%, rem(620)));
    max-width: rem(437);
    width: 100%;
    max-height: rem(201);
    height: 100%;
  }
}