@use "global" as *;

.btn {
  position: relative;
  width: rem(202);
  height: rem(54);
  display: inline-block;
}

.btn:hover  {
  opacity: 1;
}

.btn__base {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: rem(14);
  line-height: rem(54);
  font-family: $gotu-font-family;
  text-align: center;
  color: $white;
  background-color: $green;
  display: inline-block;
  transition: .3s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 100;
  border: rem(1) solid $green;
}

.btn__base::first-letter{
  text-transform: uppercase;
}

.btn__base span {
  position: relative;
  display: inline-block;
  background-image: url(../images/common/arrow.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(40);
  height: rem(6);
  top: rem(-2);
  right: rem(-7);
  transition: .3s ease-in-out;
}

.btn:hover .btn__base {
  color: $green;
  background-color: $white;
  border: rem(1) solid $green;
}

.btn:hover .btn__base {
  color: $green;
  z-index: 100;
}

.btn:hover .btn__base span {
  background-image: url(../images/common/arrow-green.svg);
}

.btn__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: rem(202);
  height: rem(54);
  transform: translate(rem(4), rem(4));
  background-color: transparent;
  border: rem(1) solid $green;
  z-index: 10;
}

.btn--white .btn__base {
  color: $green;
  background-color: $white;
}

.btn--white:hover .btn__base {
  color: $white;
  background-color: $green;
  border: rem(1) solid $white;
}

.btn--white .btn__base span{
  background-image: url(../images/common/arrow-green.svg);
}

.btn--white:hover .btn__base span{
  background-image: url(../images/common/arrow.svg);
}

.btn--white .btn__shadow {
  border: rem(1) solid $white;
}

.btn__base {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: rem(14);
  line-height: rem(54);
  font-family: $gotu-font-family;
  text-align: center;
  color: $white;
  background-color: $green;
  display: inline-block;
  transition: .3s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.btn__base::after {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.btn__base:hover {
  color: $green;
}

.btn__base:hover::after {
  transform: scale(1, 1);
}
