@use "global" as *;

.btn {
  font-family: $gotu-font-family;
  display: inline-block;
  position: relative;
  max-width: rem(202);
  width: 100%;
  max-height: rem(54);
  height: 100%;
}

.btn:hover .btn__top{
  background-color: $white;
  color: $green;
}

.btn:hover .btn__arrow {
  background-image: url(../images/common/arrow-green.svg);
    transition: all 0.3s ease;
}

.btn__top {
  position: relative;
  content: "";
  padding-left: rem(40);
  max-width: rem(202);
  width: 100%;
  color: $white;
  background-color: $green;
  padding-block: rem(16);
  font-size: rem(14);
  line-height: calc(22/14);
  letter-spacing: 0.022em;
  transition: 0.3s;
  border: 1px solid $green;
}

.btn__text {
  text-transform: uppercase;
}

.btn__top::first-letter {
  text-transform: capitalize;
}

.btn__arrow {
  position: absolute;
  content: "";
  background-image: url(../images/common/arrow.svg);
  background-size: cover; //比率はそのままで拡張縮小、上下または左右が切り捨てになる。
  background-position: center; 
  background-repeat: no-repeat;
  max-width: rem(40);
  width: 100%;
  max-height: rem(6);
  height: 100%;
  top: calc(50% - rem(3));
  transform: translateY(-50%);
  margin-left: rem(8);
}

.btn__bottom {
  position: absolute;
  content: "";
  max-width: rem(202);
  width: 100%;
  height: rem(54);
  border: 1px solid $green;
  top: rem(4);
  left: rem(4);
  z-index: -1;
  transition: 0.3s;
}

.btn--send .btn__top {
  padding-left: rem(56);
}

.btn--send .btn__arrow {
  margin-left: rem(16);
}

.btn--accent .btn__top {
  background-color: $white;
  color: $green;
}

.btn--accent .btn__arrow {
  background-image: url(../images/common/arrow-green.svg);
}

.btn--accent .btn__bottom {
  border: 1px solid $white;
}

.btn--accent:hover .btn__top {
  background-color: $green;
  color: $white;
}

.btn--accent:hover .btn__arrow {
  background-image: url(../images/common/arrow.svg);
}

.btn--accent:hover .btn__bottom {
  border: 1px solid $green;
}