@use "global" as *;

.card-list {
  margin-top: rem(32);
  margin-inline: auto;

  @include mq(md) {
    margin-top: rem(80);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: rem(40);
    column-gap: rem(40);
  }
}

.card-list__item {
  max-width: rem(600);
  width: 100%;
  margin-inline: auto;

  @include mq(md) {
    width: 100%;
  }
}

.card-list__item:nth-child(n+2) {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(0);
  }
}