@use "global" as *;

.coral-reef {
  background-image: url(../images/common/coral-reef.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(194);
  height: rem(181);
}