@use "global" as *;

.fish {
  background-image: url(../images/common/fish.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: rem(109);
  height: rem(50);

  @include mq(md) {
    width: rem(301);
    height: rem(138);
  }
}


.fish--white {
  display: none;

  @include mq(md) {
    display: block;
    background-image: url(../images/common/fish-white.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.fish--reverse {
  transform: scaleX(-1);
}

.fish--large {
  display: none;

  @include mq(md) {
    display: block;
    width: rem(437);
    height: rem(201);
  }
}