@use "global" as *;

.information {
  padding-top: rem(81);
  padding-bottom: rem(80);
  background-color: #DDF0F1;

  @include mq(md) {
    padding-top: rem(104);
    padding-bottom: rem(110);
  }
}

.information__inner {

}

.information__title {

}

.information__contents {

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(48);
    margin-top: rem(42);
  }
}

.information__img-box {
  margin-top: rem(31);

  @include mq(md) {
    max-width: rem(540);
    width: 100%;
    max-height: rem(356);
    height: 100%;
    margin-top: 0;
  }
}

.information__wrapper {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(10);
  }
}

.information__sub-title {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(24/20);

  @include mq(md) { 
    font-size: rem(24);
    font-weight: $bold;
    line-height: calc(24/24);
  }
}

.information__hr {
  background-color:$green;
  margin-block-start: rem(3);
  margin-block-end: 0;

  @include mq(md) {
    margin-block-start: rem(8);
    margin-block-end: rem(8);
  }
}

.information__text {
  margin-top: rem(6);
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24/16);
}

.information__btn {
  text-align: center;
  margin-top: rem(40);
}

