@use "global" as *;

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(13);
  
  @include mq(md) {
    column-gap: rem(0);
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  }
}

.item__lists {
  padding-left: rem(22);
}

.item__lists:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @include mq(md) {
    grid-column: initial;
    grid-row: initial;
  }
}

.item__list {}

.item__title {
  position: relative;
  margin-top: rem(40);
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(18/16);

  @include mq(md) {
    font-size: rem(18);
  }
}

.item__title::before {
  content: "";
  position: absolute;
  background-image: url(../images/common/star-fish.png);
  background-size: cover; //比率はそのままで拡張縮小、上下または左右が切り捨てになる。
  background-position: center;
  background-repeat: no-repeat;
  max-width: rem(18);
  width: 100%;
  max-height: rem(18);
  height: 100%;
  left: rem(-22);
  top: 50%;
  transform: translateY(-50%);
}

.item__lv2Lists {}

.item__lv2Item {
  margin-top: rem(18);

  @include mq(md) {
    margin-top: rem(24);
  }
}