@use "global" as *;

.seahorse {
  background-image: url(../images/common/seahorse.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(71);
  height: rem(162);
}