@use "global" as *;

.mv {
  position: relative;
}

.mv__contents {
  height: 100vh;
  width: 100%;
}

.mv__content {

}

.swiper-slide {

}

.mv__img {

}

.mv__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mv__title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - rem(3)));
  z-index: 1000;
  color: $white;
  text-align: center;
}

.mv__title {
  font-family: $lato-font-family;
  font-size: rem(40);
  font-weight: $regular;
  line-height: calc(100/89);
  text-transform: uppercase;
  letter-spacing: 0.54em;
  padding-left: rem(21);

  @include mq(md) {
   font-size: rem(80);
   padding-left: rem(43);
  }
}

.mv__sub-title {
  font-family: $gotu-font-family;
  font-size: rem(20);
  font-weight: $regular;
  line-height: 1;
  margin-top: rem(6);
}

