@use "global" as *;

.to-top {
  position: fixed;
  z-index: 10;
  right: rem(15);
  bottom: rem(16);
  
  @include mq() {
    right: rem(20);
    bottom: rem(20);
    
  }
}

.to-top a {
  background-image: url(../images/common/to-top.png);
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(40);
  height: rem(40);

  @include mq() {
    width: rem(80);
    height: rem(80);

  }
}