@use "global" as *;

.to-top {
  position: fixed;
  right: rem(40);
  bottom: rem(40);
  z-index: 10;
}

.to-top a {
  background-image: url(../images/common/to-top.png);
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(40);
  height: rem(40);

  @include mq() {
    width: rem(80);
    height: rem(80);

  }
}